  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"><br>
      <a href="#"><mat-icon aria-label="Side nav toggle icon" style="margin-left: 30px;">mail</mat-icon></a>
      <mat-nav-list>
        <a mat-list-item href="#"><mat-icon> dashboard </mat-icon></a>
        <a mat-list-item href="#"><mat-icon>favorite</mat-icon></a>
        <a mat-list-item href="#"><mat-icon>description</mat-icon></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar style="background-color:ivory;width:10px;height: 0px;">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <!-- <mat-icon aria-label="Side nav toggle icon"></mat-icon> -->
        </button>
    </mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <router-outlet></router-outlet>
  