.close{
    margin-left:900px;
}

.filterList{
    padding-top:25px;
}
.button{
    height: 30px;
    width: 350px;
    margin-left:600px;   
}
.hr{
    display: block;
    border-top: 1px solid white;
}
img{
    height: 300px;
    width: 300px;
    display: table;
    padding:5px;
    border-radius: 6px;
}
.compareImage{
    float: left;
}
.imgDetails{
    margin-left: 150px;
}
.catImage{
    height: 10px;
    width:30px;  
}
mat-icon{
    cursor: pointer;
    
}