.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 350px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.details {
  margin-top: 20px;
}

.item1 {
  margin-left:90px;
  font-size:larger;
  font-family:Arial, Helvetica, sans-serif;
}

.item2 {
  margin-left:20px;
  margin-top: 70px;
  font-size: 50px;
  font-style:normal;
  color: #0b3374;
}

.blades{
  font-size:small;
}

.item3{
  background-color: #0b3374;
  width:200px;
  height: 100px;
  margin-left:10px;
  padding:10px 10px 10px;
  margin-top: 40px;
  font-size:medium;
  text-align:left;
  line-height:25px;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.notes{
 padding-left: 10px;
}

.labelImage ::after{
  content: "";
  clear:both;
  display:table;
}
.img{
  float:left;
  width: 25%;
  // padding: 5px;
  height: 110px;
}

.hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}
.example-container {
  width: 100px;
  height: 100px;
  margin: 12px;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  // justify-content: center;
}

.example-sidenav {
  padding: 20px;
}