.details {
  margin-top: 20px;
}

.item1 {
  margin-left:90px;
  font-size:larger;
  font-family:Arial, Helvetica, sans-serif;
}

.item2 {
  margin-left:20px;
  margin-top: 70px;
  font-size: 50px;
  font-style:normal;
  color: #0b3374;
}

.blades{
  font-size:small;
}

.item3{
  background-color: #0b3374;
  width:200px;
  height: 100px;
  margin-left:10px;
  padding:10px 10px 10px;
  margin-top: 40px;
  font-size:medium;
  text-align:left;
  line-height:25px;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.notes{
 padding-left: 10px;
}
.image1 {
  margin-left:20px;
  margin-top:10px;
 height: 10px;
 width:5px; 
}
.labelImage ::after{
  content: "";
  clear:both;
  display:table;
}
.img{
  float:left;
  width: 20%;
  padding: 5px;
}
.hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}