<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over':'over'" [(opened)]="sidenavOpen" position="end">
    <mat-toolbar class="add">
      <div>
        {{"Blade"+ idselected.slice(5,6)+"- Image" + &nbsp;+imageIndex}} <br>
        Add / Edit notes
        <mat-icon (click)="drawer.toggle()" class="close">close</mat-icon>
      </div>
    </mat-toolbar>

    <div>
      <button mat-raised-button class="button" (click)="dialogeBox(templateAdd)">
        +
      </button><br>
      <div class="addnote">
        ADD NOTE
      </div>
    </div>
    <div *ngFor="let i of notes; let j=index">
      <hr>
      <div class="noteDate">
        {{JSON.stringify(i.date)|date:'medium'}}
      </div> <br>
      <div class="noteText">
        {{JSON.stringify(i.text)}}
      </div>
      <div>
        <button mat-button (click)="dialogeBoxEdit(templateEdit);edit(j)">Edit</button>
        <button mat-button (click)="dialogeBox(templateDelete);delete(j)" class="deleteButton">Delete</button>
      </div>
    </div>
    <hr>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Add Content Here -->

    <div class="details">

      <!-- Add Dialogue box-->

      <ng-template #templateAdd>
        <div>
          <h1>
            Add Notes
            <mat-icon mat-dialog-close class="addClose">close</mat-icon>
          </h1>
          <form [formGroup]="dialogeForm">
            <input type="text" class="input" formControlName="note" id="notes">
            <hr>
            <button mat-raised-button color="primary" mat-dialog-close (click)="cancel()">cancel</button>
            <button mat-raised-button color="accent" mat-dialog-close class="noteSave" (click)="save()"
              [disabled]="dialogeForm.invalid">Save</button>
          </form>
        </div>
      </ng-template>

      <!--edit dialoge box-->

      <ng-template #templateEdit>
        <div>
          <h1>
            Edit Notes
            <mat-icon mat-dialog-close class="addClose">close</mat-icon>
          </h1>
          <form [formGroup]="dialogeForm">
            <input type="text" class="input" formControlName="note" id="notes">
            <hr>
            <button mat-raised-button color="primary" mat-dialog-close (click)="cancel()">cancel</button>
            <button mat-raised-button mat-dialog-close color="accent" class="noteSave" (click)="editNote()"
              [disabled]="dialogeForm.invalid">Save</button>
          </form>

        </div>
      </ng-template>

      <!-- Delete Dialogue box-->

      <ng-template #templateDelete>
        <div>
          <h1>
            Delete note
          </h1>
          <p>Are you sure want to delete this note?</p><br>
          <hr>
          <button mat-raised-button color="primary" mat-dialog-close>cancel</button>
          <button mat-raised-button color="accent" mat-dialog-close class="noteSave"
            (click)="deleteNote()">Delete</button>
        </div>
      </ng-template>

      <!--Compare dialoge box-->
      <ng-template #templateCompare>
        <!-- <div>
          <h1>
            Delete note
          </h1>
          <p>Are you sure want to delete this note?</p><br>
          <hr>
          <button mat-raised-button color="primary" mat-dialog-close>cancel</button>
          <button mat-raised-button color="accent" mat-dialog-close class="noteSave"
            (click)="deleteNote()">Delete</button>
        </div> -->
      </ng-template>

      <!--Dialoge box-->

      <!--BladeA-->

      <div class="bladeDetails" fxFlex="25%" fxLayout="column" *ngFor="let i of loadArray">
        {{i.wtg_id}}
        <div class="label">
          {{i.blades[0].label}}
        </div><br><br>
        <div class="blades">
          S/N :- &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;{{i.blades[0].serial_number}} <br>
          Blade Model:{{i.blade_model}}
        </div>

        <div class="wtgDetails">
          WTG:{{i.wtg_id}} <br>
          Class:{{i.wtg_class}} <br>
          Farm:{{i.farm}} <br>
          WTG Model:{{i.wtg_model}}
        </div><br>

        <div class="notes">
          <div fxLayout="row" fxLayoutAlign="start center">
            <img src="assets\images\notes.png" (click)="bladeClick(listA.notes,listA.blade_id.slice(5,6))">
            {{listA.notes?.length}}
            <div class="bladenote">
              Add Note
            </div>
          </div>
        </div>
      </div>

      <div class="bladeImages" fxFlex="100" fxLayout="column">
        <div class="filter">
          <mat-form-field appearance="fill">
            <mat-label>{{filterId}}</mat-label>
            <mat-select [(value)]="filterId" (selectionChange)="onToggleFilter($event)">
              <mat-option *ngFor="let i of wtg_idList" [value]="i">
                <div fxLayoutAlign="start center" fxLayoutGap="10px">
                  <div>{{i}}</div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{filterDate}}</mat-label>
            <mat-select [(value)]="filterDate" (selectionChange)="onToggleFilter($event)">
              <mat-option *ngFor="let j of wtg_dateList" [value]="j">
                {{j}}
              </mat-option>
            </mat-select>
          </mat-form-field> &nbsp;
          <mat-icon style="height: 80px;">filter_list</mat-icon>
          <button mat-raised-button class="compare" (click)="dialogeBoxCompare(templateCompare)">Compare</button>
        </div>

        <div class="images" fxFlex="100">
          <div>
            <div class="image" *ngFor="let i of listA.images; let j=index">
              <img src="assets\images\{{i.URI}}">
              <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-around center">
                <img [src]="getImgSrc(i.image_cat)" />
                {{
                "cat. " +
                (i.image_cat.validated != null
                ? i.image_cat.validated
                : i.image_cat.auto)
                }}
                <div fxLayout="row" fxLayoutAlign="start center">
                  <img style="width: 50px;margin-left: 10px;" src="assets\images\notes.png" (click)="imageClick(
                  listA.inspection_date.slice(0,10),listA.blade_id,j,i.notes
                )">
                  <div class="notelength">
                    {{i.notes.length}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <hr>

    <!--BladeB-->

    <div class="details">
      <div class="bladeDetails" fxFlex="25%" fxLayout="column" *ngFor="let i of loadArray">
        <div class="label">
          {{i.blades[1].label}}
        </div><br><br>
        <div class="blades">
          S/N :- &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;{{i.blades[1].serial_number}} <br>
          Blade Model:{{i.blade_model}}
        </div>

        <div class="wtgDetails">
          WTG:{{i.wtg_id}} <br>
          Class:{{i.wtg_class}} <br>
          Farm:{{i.farm}} <br>
          WTG Model:{{i.wtg_model}}
        </div><br>

        <div class="notes">
          <div fxLayout="row" fxLayoutAlign="start center">
            <img src="assets\images\notes.png" (click)="bladeClick(listB.notes,listB.blade_id.slice(5,6))">
            {{listB.notes?.length}}
            <div class="bladenote">
              Add Note
            </div>
          </div>
        </div>
      </div>

      <div class="bladeImages" fxFlex="100" fxLayout="column">
        <div class="images">
          <div>
            <div class="image" *ngFor="let i of listB.images;let j=index">
              <img src="assets\images\{{i.URI}}">
              <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-around center">
                <img [src]="getImgSrc(i.image_cat)" />
                {{
                "cat. " +
                (i.image_cat.validated != null
                ? i.image_cat.validated
                : i.image_cat.auto)
                }}
                <div fxLayout="row" fxLayoutAlign="start center">
                  <img style="width: 50px;margin-left: 10px;" src="assets\images\notes.png" (click)="imageClick(
                  listB.inspection_date.slice(0,10),listB.blade_id,j,i.notes
                )">
                  <div class="notelength">
                    {{i.notes.length}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <!--BladeC-->

    <div class="details">
      <div class="bladeDetails" fxFlex="25%" fxLayout="column" *ngFor="let i of loadArray">
        <div class="label">
          {{i.blades[2].label}}
        </div><br><br>
        <div class="blades">
          S/N :- &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
          &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;{{i.blades[2].serial_number}} <br>
          Blade Model:{{i.blade_model}}
        </div>

        <div class="wtgDetails">
          WTG:{{i.wtg_id}} <br>
          Class:{{i.wtg_class}} <br>
          Farm:{{i.farm}} <br>
          WTG Model:{{i.wtg_model}}
        </div><br>
        <div class="notes">
          <div fxLayout="row" fxLayoutAlign="start center">
            <img src="assets\images\notes.png" (click)="bladeClick(listC.notes,listC.blade_id.slice(5,6))">
            {{listC.notes?.length}}
            <div class="bladenote">
              Add Note
            </div>
          </div>
        </div>
      </div>

      <div class="bladeImages" fxFlex="100" fxLayout="column">
        <div class="images" fxFlex.xs="15">
          <div>
            <div class="image" *ngFor="let i of listC.images;let j=index">
              <img src="assets\images\{{i.URI}}">
              <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-around center">
                <img [src]="getImgSrc(i.image_cat)" />
                {{
                "cat. " +
                (i.image_cat.validated != null
                ? i.image_cat.validated
                : i.image_cat.auto)
                }}
                <div fxLayout="row" fxLayoutAlign="start center">
                  <img style="width: 50px;margin-left: 10px;" src="assets\images\notes.png" (click)="imageClick(
                  listC.inspection_date.slice(0,10),listC.blade_id,j,i.notes
                )">
                  <div class="notelength">
                    {{i.notes.length}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>